#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/7102edd8-c6e0-474e-9626-ebfe7bdf0c15/ # 
title: online-shopping
description: users online shopping api
/user:
  post:
    body:
      application/json:
        examples:
          {
            "email": "string",
            "username": "string"
          }
    responses:
          201:
            body:
              application/json:
                example:
                  {
                    "uid": integer
                  }
/products:
  get:
    responses:
      200:
        body:
          application/json:
            example:
                   [{
                    "categoryid": 0,
                    "description": "string",
                    "name": "string",
                    "price": 0,
                    "productid": 0,
                    "video_url": "string"
                   }]
  /{id}:
    get:
      queryParameters:
        id:
      responses:
        200:
          body:
            application/json:
              example:
                                {
  "productid": 101,
  "categoryid": 19,
  "name": "KK G-707 Gaming mouse",
  "description": "The G-707 Gaming mouse is a razor-sharp mouse with 3000 DPI. The mouse comes with a 1-year warranty ",
  "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak",
  "price": 7777
}
/Categories:
  get:
    responses:
      200:
        body:
          application/json:
            examples:
              {"Categories":[{
                    "categoryid": 0,
                     "name": "string"
              }]}
  /{id}:
    get:
      queryParameters:
        id:
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "categoryid": 10,
                  "name": "labtop"
                }
/Orders:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              
              [ {
                "addressid": 0,
                "amount": 0,
                "created": {
                "date": 0,
                "day": 0,
                "hours": 0,
                "minutes": 0,
                "month": 0,
                "nanos": 0,
                "seconds": 0,
                "time": 0,
                "timezoneOffset": 0,
                "year": 0
                }},
                {
                "discountid": 0,
                "modified": {
                "date": 0,
                "day": 0,
                "hours": 0,
                "minutes": 0,
                "month": 0,
                "nanos": 0,
                "seconds": 0,
                "time": 0,
                "timezoneOffset": 0,
                "year": 0
                 }},
                 {
                    "orderid": 0,
                    "status": "string",
                    "userid": 0
                 }]

  /{id}:
    description: Get order by orderid
    get:
      queryParameters:
        id:
      responses:
        200:
          body:
            application/json:
              example:
                {
                "orderid": 128,
                "userid": 1019,
                "addressid": 201,
                "discountid": 1,
                "created": "2020-05-27T23:18:46.000+00:00",
                "modified": null,
                "status": "Accepted",
                "amount": 1000
                }
        401: 
          body:
            application/json:
              example:
                  {
                  "Status": 401,
                  "message": "Unautorized"
                }
        403:
          body:
            application/json:
              example:
                  {
                  "Status": 403,
                  "message": "Forbidden"
                }
        404:
          body:
            application/json:
              example:
                  {
                  "Status": 404,
                  "message": "Not Found"
                }
/orders:
  description: Create orders
  post:
    body:
      application/json:
        example:
          {"products": 
          [{
            "productId": 0,
            "quantity": 0
          }],
          "uid": 0
          }
    responses:
      200:
        body:
          application/json:
            example:
              {
              "orderid": 128,
              "userid": 1019,
              "addressid": 201,
              "discountid": 1,
              "created": "2020-05-27T23:18:46.479+00:00",
              "modified": null,
              "status": "Accepted",
              "amount": 1000
              }
      
      
     
      
          
        
      
      
      
      

                
    
    
      
              
  
    
         
            


                  
              
        
  
        
    
      
      
  


      
  

                  
      